body {
  padding-top: 40px;
}

button, .badge, .modal-content {
  border-radius: 0 !important;
}

a, button {
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
}

h1 br {
  display: none;
}

.pc-icon {
  background: url('../assets/favicon.png') no-repeat 10px center;
  padding-left: 50px;
}

.pc-icon:hover {
  background-image: url('../assets/favicon_color.png');
}

#detector {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

#detector-info {
  z-index: 10;
  position: absolute;
}

.scrollable {
  overflow: auto;
}

.research-icon {
  float: left;
  margin-right: 10px;
}

#achievements-container {
  position: fixed; bottom: 0px; left: 0px;
}

#messages-container {
  position: fixed; bottom: 0px; right: 0px;
}

#achievements-container .alert,
#messages-container .alert {
  margin-bottom: 10px; position: relative;
}

#achievements-container .alert-glyph,
#messages-container .alert-glyph {
  float:left; font-size: 20px; margin-right: 10px;
}

#achievements-container .alert-text,
#messages-container .alert-text {
  font-size: 14px;
}

#achievements-container .alert-text {
  font-weight: bold;
}

#messages-container .btn {
  float:right; font-weight: bold;
}

#mobile-orientation-container {
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background: #fff;
  display: none;
  padding-top: 50%;
  z-index: 100;
}

#mobile-orientation-message {
  text-align: center;
  margin: auto auto;
  color: #777;
  font-size: 18px;
  padding: 15px;
}

.status strong {
  color: #666;
}

/* Floating updates */
.update-value {
  position: relative;
  right: -2em;
  top: -1.42857em;
  height: 1.42857em;
}
.update-plus {
  color: green;
  position: relative;
}
.update-minus {
  color: red;
  position: relative;
}

#labname {
  border: 0px;
  padding: 0 4px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1;
  width: 99%;
}

/*.panel {
  margin-bottom: 0;
}*/

.media-list-no-margin {
  margin-top: -15px;
}

.col-no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.tab-content {
  border-left:1px solid #ddd;
}

.tab-pane.scrollable {
  padding:15px;
}


.prevent-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


/** Annoying blink effect to get user's attention. */
.blink {
  animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  -webkit-animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0.25; }
}

@-webkit-keyframes blinker {
  from { opacity: 1; }
  to {
    opacity: 0.25;
    background: #f00;
    border-color: #900;
  }
}

/** Responsive **/
@media screen and (orientation:portrait) and (max-width: 767px) {
  #mobile-orientation-container {
    display: block;
  }
}

@media screen and (orientation:landscape) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
  #detector-holder {
    /*margin-left: -15px;
    margin-right: -15px;*/
  }

  .status {
    font-size: 18px;
  }

  #labname {
    font-size: 22px;
  }

  #detector-info {
    top: 85px; right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .panel-stick,
  .panel-stick .panel-heading,
  .panel-stick .panel-body {
    border-right: 0;
  }

  .status {
    font-size: 20px;
  }

  #labname {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .status {
    font-size: 24px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .col-md-3s {
    /*width:20%;*/
  }

  .col-md-5s {
    /*width:40%;*/
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 16px;
  }

  .col-no-padding-xs {
    padding-right: 0;
    padding-left: 0;
  }

  .col-no-padding-xs .row {
    margin-left: 0;
    margin-right: 0;
  }

  .status .col-xs-4 {
    min-width: 75px;
  }

  #detector-info {
    top: 15px; right: 15px;
  }
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx),
    only screen and (min-resolution: 144dpi)
{
  .pc-icon {
    background-image: url('../assets/favicon.png');
    background-size: 32px 32px;
  }

  .pc-icon:hover {
    background-image: url('../assets/favicon_color.png');
  }
}


/* bubblr http://likeadev.com/show/how-to-make-a-cool-laboratory-tube-with-animated-bubbles.html */
.test-tube-container {
    padding-top: 50px;
}
.test-tube {
    /*border-left: 5px solid #949494;
    border-right: 5px solid #949494;
    border-bottom: 5px solid #949494;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border: 5px solid #949494;
    border-radius: 10px;
}

/* science-click custom css */


.panel-body.large {
    min-height: 600px;
}

.ui-draggable {
    cursor: move;
}
.card {
    font-size: 3em;
    border: 0px;
    padding: 1px;
    z-index: 50;
    min-width: 50px;
    min-height: 50px;
}
.card.empty {
    opacity: 0.2;
}
.white-badge.empty {
    opacity: 0;
}
.col-little-padding{
    padding-right: 1px;
    padding-left: 1px;
}
#observationsContent {
    font-size: 24px;
}

.white-badge {
    color: black;
    background-color: white;
    border-radius: 2px;
    padding: 2px;
    z-index: 100;
    position: relative;
    border: 1px black solid;
    /*font-weight: bold;*/
    top: -1em;
    left: 2.5em;
}



/* https://github.com/mbostock/d3/blob/master/lib/colorbrewer/colorbrewer.css */
.Paired .q0-12{fill:rgb(166,206,227)}
.Paired .q1-12{fill:rgb(31,120,180)}
.Paired .q2-12{fill:rgb(178,223,138)}
.Paired .q3-12{fill:rgb(51,160,44)}
.Paired .q4-12{fill:rgb(251,154,153)}
.Paired .q5-12{fill:rgb(227,26,28)}
.Paired .q6-12{fill:rgb(253,191,111)}
.Paired .q7-12{fill:rgb(255,127,0)}
.Paired .q8-12{fill:rgb(202,178,214)}
.Paired .q9-12{fill:rgb(106,61,154)}
.Paired .q10-12{fill:rgb(255,255,153)}
.Paired .q11-12{fill:rgb(177,89,40)}

.Paired .q0-12{color:rgb(166,206,227)}
.Paired .q1-12{color:rgb(31,120,180)}
.Paired .q2-12{color:rgb(178,223,138)}
.Paired .q3-12{color:rgb(51,160,44)}
.Paired .q4-12{color:rgb(251,154,153)}
.Paired .q5-12{color:rgb(227,26,28)}
.Paired .q6-12{color:rgb(253,191,111)}
.Paired .q7-12{color:rgb(255,127,0)}
.Paired .q8-12{color:rgb(202,178,214)}
.Paired .q9-12{color:rgb(106,61,154)}
.Paired .q10-12{color:rgb(255,255,153)}
.Paired .q11-12{color:rgb(177,89,40)}

.Red {color:red;}
.Black {color:black;}


/* ui grid */
.observations-grid {
    width:100%;
    height:100%;
    min-height: 500px;
}
.large.obervations-panel-body{
    padding:0px;
}
.ui-grid-cell-contents.ui-grid-header-cell-primary-focus {
    padding-top: 2px;
    padding-bottom: 2px;
}
.ui-grid-filter-container {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.ui-grid-filter-select {
    background: white;
    font-size: 22px;
}
#card-deck{
    font-size: 75px;
}
.ui-grid-cell-contents{
    font-size: 22px;
}
.ui-grid-viewport .ui-grid-cell-contents{
    font-size: 22px;
}

.card-panel {
    min-height: 130px;
    min-width: 100px;
    /*border: 1px solid black;*/
    /*border-radius: 4px;*/
    /*padding: 5px;*/
    /*margin: 15px;*/
    /*font-size: 20px;*/
}
.short-lines {
    line-height: 3em;
}
.main-line{
    border: 3px green solid;
    border-radius: 5px;
    /*margin: 10px;*/
}
.side-line {
    /*padding-top: 10px;*/
    /*margin: 10px;*/
    border:2px red solid;
    border-radius: 5px;
    min-height: 400px;
}
.card-line{
    margin-bottom: 5px;
}
.left-list ul{
    padding-left: 5px;
}
.hypotheses select{
    height:20px;
    padding:1px;

}
.guess-correct{

}
.guess-wrong{

}

/** ng animate **/
.hand.ng-enter,
.hand.ng-leave
{
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.hand.ng-leave.hand.ng-leave-active,
.hand.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.hand.ng-enter.hand.ng-enter-active,
.hand.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}


.mainline.ng-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -70px;
    }
    75% {
        top: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        top: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        top: -70px;
    }
    75% {
        top: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        top: 0px;
    }
}

/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.25s linear all;
  transition:0.25s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.add-item.ng-enter {
  -webkit-transition:0.25s linear all;
  transition:0.25s linear all;
}

.add-item.ng-enter {
  opacity:0;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}


.mainline.ng-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -70px;
    }
    25% {
        top: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        top: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        top: -70px;
    }
    25% {
        top: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        top: 0px;
    }
}
.add-from-top.ng-enter
{
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.add-from-top.ng-enter.add-from-top.ng-enter-active {
    opacity: 1;
    top: 0;
    height: 30px;
}

.add-from-top.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.add-from-right.ng-enter
{
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.add-from-right.ng-enter.add-from-right.ng-enter-active {
    opacity: 1;
    right: 0;
    height: 30px;
}

.add-from-right.ng-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}


/** It's hard to get rid of the padding on rows because it's meant to compensate for
margin left -15px on rows. So we fix it this way **/
.col-no-padding-xs .row {
  margin-left: 0;
  margin-right: 0;
}
.col-no-padding .row {
  margin-left: 0;
  margin-right: 0;
}
